.trunc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.story-card:hover {
    box-shadow: 2px 2px 3px rgb(0 0 0 / 80%);
    transition: box-shadow 0.2s;
    cursor: pointer;
}