.carousel-item {
    animation: slideIn 2s ease 0s 1, slideOut 2s ease 6s 1 normal;
}
    
@keyframes slideIn {
    0% { transform: translateX(-100vw); }
    100% { transform: translateX(0px); }
}

@keyframes slideOut {
    0% { transform: translateX(0px); }
    100% {
      transform: translateX(100vw);
      opacity: 0;
    }
}